<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" style="max-width: 1000px">
    <div th:replace="fragments/navbar :: navbarFragment"> </div>
    <nav id ="nav">
        <div class="text-right">
            <ul>
                <span th:if="${info} != null" class="mx-3" th:text="|${info} 님 안녕하세요!!!|"></span>
            </ul>
        </div>
    </nav>
    <div>
        <form class="d-flex justify-content-end" name="search-form" th:action="@{/boards}" method="get">
            <input type="text" name="searchKeyword" th:value="${param.searchKeyword}">
            <input type="submit" class="btn btn-dark mr-2" value="검색">
        </form>
    </div>
    </br>
    <nav id ="nav2">
        <div class="text-right">
            <a href="/oauth2/authorization/google" sec:authorize="isAnonymous()" role="button" class="btn btn-outline-danger"><img id="img1" src="/img/google.ico" style="display: block; margin: 0 auto; width:25px; height:25px;"/>로그인</a>
            <a href="/oauth2/authorization/naver" sec:authorize="isAnonymous()" role="button" class="btn btn-outline-success"><img id="img2" src="/img/naver2.ico" style="display: block; margin: 0 auto; width:25px; height:25px;"/>로그인</a>
            <a class="nav-link btn btn-outline-warning" sec:authorize="isAnonymous()" th:href="@{/signup}"><img id="img3" src="/img/signup3.ico" style="display: block; margin: 0 auto; width:25px; height:25px;"/>회원가입</a>
            <a class="nav-link btn btn-outline-info" sec:authorize="isAnonymous()" th:href="@{/login}"><img id="img4" src="/img/login.ico" style="display: block; margin: 0 auto; width:25px; height:25px;"/>로그인</a>
        </div>
    </nav>
    <hr class="my-4">
    <div>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr class="bg-primary">
                <th th:text="#{label.board.id}">ID</th>
                <th th:text="#{label.board.subject}">제목</th>
                <th th:text="#{label.board.name}">작성자</th>
                <th th:text="#{label.board.viewcnt}">조회수</th>
                <th th:text="#{label.board.updatedate}">수정일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td th:text="${board.uid}">글 ID</a></td>
                <td><a href="board.html" th:href="@{/boards/{uid}(uid=${board.uid})}" th:text="${board.subject}">제목</a></td>
                <td th:text="${board.name}">작성자</td>
                <td th:text="${board.viewcnt}">조회수</td>
                <td th:text="${board.updatedate}">수정일</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col">
            <button th:if="${info} != null"
                    class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/boards/add}'|"
                    type="button" th:text="#{page.addBoard}">글 작성</button>
        </div>
    </div>

    <nav aria-label="Page navigation" style="text-align: center;">
        <ul class="pagination"
            th:with="start=${T(java.lang.Math).floor(boards.number/10) * 10 + 1},
                    last=(${start + 9 < boards.totalPages ? start + 9 : boards.totalPages})">
            <!--            수정-->
            <li>
                <a th:href="@{/boards(page=1)}" aria-label="First">
                    <span aria-hidden="true">First</span>
                </a>
            </li>

            <li th:class="${boards.first} ? 'disabled'">
                <a th:href="${boards.first} ? '#' :@{/boards(page=${boards.number}, searchKeyword=${param.searchKeyword})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>

            <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == boards.number + 1} ? 'active'">
                <a th:href="@{/boards(page=${page}, searchKeyword=${param.searchKeyword})}" th:text="${page}"></a>
            </li>

            <li th:class="${boards.last} ? 'disabled'">
                <a th:href="${boards.last} ? '#' : @{/boards(page=${boards.number + 2}, searchKeyword=${param.searchKeyword})}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>

            <li>
                <a th:href="@{/boards(page=${boards.totalPages})}" aria-label="Last">
                    <span aria-hidden="true">Last</span>
                </a>
            </li>
        </ul>
    </nav>

</div>

</body>
</html>