<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="footerFragment" class="navbar navbar-expand-lg navbar-dark bg-secondary border-bottom">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <p>게시판 홈페이지 | 대표자 : 홍성윤<br>
          프론트, 백엔드 : 홍성윤<br>
          대구시 북구 OO로 OOO<br>
          이메일 : fodb@naver.com, foodb244@gmail.com<br>
          연락처 : 010-8025-3971</p>
        <p>Copyright &copy; Board Service. All rights reserved.</p>
    </div>
  </div>
</nav>